module "{{name}}" {
  source     = "{{{source}}}"
  name       = var.name
  prefixes   = var.prefixes
  suffixes   = var.suffixes
  separator  = "{{{separator}}}"
  max_length = {{max_length}}
  nb_instances = var.nb_instances
}

data "null_data_source" "names" {
  count = var.nb_instances
  inputs = {
    result = var.nb_instances > 1 ? regex("{{{regex}}}", module.{{name}}.results[count.index]) : regex("{{{regex}}}", module.{{name}}.result)
  }
}

locals {
  results = data.null_data_source.names.*.outputs.result
}